{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center text-center flex-grow-1">

  <img src="{{ url_for('static', filename='logo.png') }}" style="max-height:140px; margin-bottom:30px;">

  <h1 style="color:#e6c65c; font-weight:600;">
    Meduseld
  </h1>

  <p style="max-width:600px; opacity:0.8;">
    404 Server Not Found
  </p>

  <a href="/menu" class="btn btn-warning mt-4 px-4 py-2">
    Enter the Great Hall
  </a>

</div>

{% endblock %}